
<!-- main wrapper -->
<div class="wrapper">

    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <!-- page wrapper -->
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">


                <!-- breadcrumbs -->

                <!-- end breadcrumbs -->

                <!-- star pages content -->

                <router-outlet></router-outlet>

                <!-- end star pages conten -->
            </div>
        </div>
    </div>

    <!-- end page wrapper -->
</div>