<header class="topbar header" id="header">
    <nav class="navbar navbar-expand-lg">
        <!-- logo company -->
        <div class="navbar-logo" [ngClass]="{'left-sidebar': openAcordion}">
            <a href="index.html" class="nav-logo" >
                    <img src="../../../assets/img/sintad.png" width="55px" height="55px" alt="sintad">
                <span style="white-space: nowrap;">
                    SINTAD S.A.C

                </span>
            </a>
  
        </div>
        <!-- end logo -->
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto between">
  
                <li class="nav-item header_toggle">
                    <a class="nav-link text-white" data-widget="pushmenu" id="header-toggle" role="button"(click)="toggleSidebar()" ><i
                            class="fas fa-bars"></i></a>
                </li>
            </ul>
            <!-- user profile and (search... option) -->
            <ul class="navbar-nav">

                <!-- profile -->
                <li class="nav-item dropdown">
                    <a class="nav-link " id="dropdown-profile" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" (click)="openCloseProfile()">
                        <img src="../../../assets/img/user.jpg" alt="" class="profile-pic">
                    </a>
                    <div *ngIf="openProfile" class="dropdown-menu profile" aria-labelledby="dropdown-profile">
                        <ul class="dropdown-user">
                            <li>
                                <div class="user-box">
                                    <div class="user-img">
                                        <img src="../../../assets/img/user.jpg" alt="">
                                    </div>
                                    <div class="user-text">
                                        <h4>{{userLogged}}</h4>
                                        <a class="btn view-profile">View profile</a>
                                    </div>
                                </div>
                            </li>
                            <li class="separator"></li>
                            <li><a> <i class="fas fa-user"></i> My Profile</a></li>
                            <li><a><i class="fas fa-wallet"></i> My Balance</a></li>
                            <li><a> <i class="fas fa-envelope"></i> Inbox</a></li>
                            <li class="separator"></li>
                            <li><a href=""><i class="fas fa-cog"></i> Acount Setting</a></li>
                            <li class="separator"></li>
                            <li><a  (click)="logout()"><i class="fas fa-power-off"></i> Logout</a></li>
                        </ul>
  
                    </div>
  
                </li>
                <!-- end profile -->
            </ul>
        </div>
  
    </nav>
  </header>
  